{% extends "base.html.twig" %}

{% block body %}
	<header>
		<nav>

			<div>
				<img src="{# {{asset()}} #}" alt="le logo de Knowledge-Learning" class="nav-logo"></img>
		</div>

		<div>

			{% if is_granted('ROLE_ADMIN') %}
				<ul class="nav-list">
					<li>
						<a class="nav-item" href="{{path('app_home')}}">Accueil</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('admin')}}">Admin</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('app_theme')}}">Cours</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('cart')}}">Panier</a>
					</li>
					<li>
						<a class="nav-logout" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				</ul>
			{% elseif is_granted('ROLE_CLIENT')%}
				<ul class="nav-list">
					<li>
						<a class="nav-item" href="{{path('app_home')}}">Accueil</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('app_theme')}}">Cours</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('cart')}}">Panier</a>
					</li>
					<li>
						<a class="nav-logout" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				</ul>
			{% else %}
				<ul class="nav-list">
					<li>
						<a class="nav-item" href="{{path('app_home')}}">Accueil</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('app_register')}}">S'inscrire</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('app_theme')}}">Cours</a>
					</li>
					<li>
						<a class="nav-item" href="{{path('app_login')}}">Se connecter</a>
					</li>
				</ul>
			{% endif %}


		</div>

	</nav>
</header>{% endblock %}
